.card {
  width: 59mm;
  height: 45.5mm;
  border: 0 solid;
  border-top-left-radius: 6mm;
  border-top-right-radius: 6mm;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.half {
  width: 53mm;
  height: 42.5mm;
  border-width:1px 1px 0.5px 1px;
  border-style: solid;
  border-top-left-radius: 3mm;
  border-top-right-radius: 3mm;
  position: relative;
  overflow: hidden;
}

.image {
  background-color: transparent;
  position: relative;
}
