<div class="container">
  <h2>Hátlap</h2>
  <div class="card-border">
    <div #bck id="card">
      <app-back [image]="back"></app-back>
    </div>
  </div>
  <app-panel [card]="back" [element]="bck"></app-panel>
  <hr>
</div>

<div class="container">
  <h2>Plusz lap</h2>
  <div class="card-border">
    <div #pls id="card">
      <div class="top">
        <app-plus [image]="plus"></app-plus>
      </div>
      <div class="bottom">
        <app-plus [image]="plus"></app-plus>
      </div>
    </div>
  </div>
  <app-panel [card]="plus" [element]="pls"></app-panel>
  <hr>
</div>

<div *ngFor="let card of also, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-also [colorSrc]="'../../../assets/' + sources[i]" [image]="also[i]"></app-also>
      </div>
      <div class="bottom">
        <app-also [colorSrc]="'../../../assets/' + sources[i]" [image]="also[i]"></app-also>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of felso, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-felso [colorSrc]="'../../../assets/' + sources[i]" [image]="felso[i]"></app-felso>
      </div>
      <div class="bottom">
        <app-felso [colorSrc]="'../../../assets/' + sources[i]" [image]="felso[i]"></app-felso>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of kiraly, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-kiraly [colorSrc]="'../../../assets/' + sources[i]" [image]="kiraly[i]"></app-kiraly>
      </div>
      <div class="bottom">
        <app-kiraly [colorSrc]="'../../../assets/' + sources[i]" [image]="kiraly[i]"></app-kiraly>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of hetes, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-het [colorSrc]="sources[i]" [image]="hetes[i]"></app-het>
      </div>
      <div class="bottom">
        <app-het [colorSrc]="sources[i]" [image]="hetes[i]"></app-het>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of nyolcas, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-nyolc [colorSrc]="sources[i]" [image]="nyolcas[i]"></app-nyolc>
      </div>
      <div class="bottom">
        <app-nyolc [colorSrc]="sources[i]" [image]="nyolcas[i]"></app-nyolc>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of kilences, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-kilenc [colorSrc]="sources[i]" [image]="kilences[i]"></app-kilenc>
      </div>
      <div class="bottom">
        <app-kilenc [colorSrc]="sources[i]" [image]="kilences[i]"></app-kilenc>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of tizes, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-tiz [colorSrc]="sources[i]" [image]="tizes[i]"></app-tiz>
      </div>
      <div class="bottom">
        <app-tiz [colorSrc]="sources[i]" [image]="tizes[i]"></app-tiz>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>


<div *ngFor="let card of asz, let i = index" class="container">
  <div class="card-border">
    <div #element id="card">
      <div class="top">
        <app-asz [colorSrc]="'../../../assets/' + sources[i]" [image]="asz[i]"></app-asz>
      </div>
      <div class="bottom">
        <app-asz [colorSrc]="'../../../assets/' + sources[i]" [image]="asz[i]"></app-asz>
      </div>
    </div>
  </div>
  <app-panel [card]="card" [element]="element"></app-panel>
  <hr>
</div>

