<div class="card">
  <div class="inner-border">
    <div class="half">
      <img class="image" [src]="image.src" alt="" [ngStyle]="{'width': image.width + '%', 'top': image.top + 'px', 'left': image.left + 'px'}">
      <div class="color" [ngStyle]="{'left': 0, 'transform': 'rotate(-30deg)'}">
        <img class="color-image" [src]="colorSrc">
      </div>
      <div class="color" [ngStyle]="{'right': 0, 'transform': 'rotate(30deg)'}">
        <img class="color-image" [src]="colorSrc">
      </div>
    </div>
  </div>
</div>
